**/.vs/
**/bin/
**/obj/
*.csproj.user
*.sqlproj.user
*.webinfo
*.suo
*.dbproj.schemaview
*.docstates
*.gpState
**/packages/
**/TestResults/
[Tt]est[Rr]esult [Bb]uild[Ll]og.*
*.dbmdl
*resharp*
*Resharper*
*ReSharper* 
*.Load*
.NoLoad
*.~m2
*.cache
_notes
[Tt]humbs.db
.apdisk
*.[Pp]ublish.xml
*.jfm
*.csproj.vspscc
*.exe
*.nupkg
